.widget-slack {
  padding: 5px 10px 0;
  font-size: 16px;
}

.widget-slack .widget-slack-list {
  background: #f3f3f3;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
}

.widget-slack .widget-slack-list-title {
  text-transform: uppercase;
  color: #7b7b7b;
}

.widget-slack .widget-slack-list-channels {
  margin-top: 10px;
  margin-bottom: 10px;
}

.widget-slack .widget-slack-list-channels ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.widget-slack .widget-slack-list-channels ul a {
  text-decoration: none;
  color: #237fbb;
}

.widget-slack .widget-slack-list-channels ul a span {
  border-bottom: 1px solid #6ca0ca;
}

.widget-slack .btn-slack-widget {
  background: #2ab27b;
  color: #ffffff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  padding: 10px 5px;
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}

.widget-slack .btn-slack-widget:hover {
  background: #2B9E70;
}

.widget-slack .ico-write {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  background: url(../images/ico-write.png) no-repeat center center;
}
