.widget-2gis {
  padding: 5px 10px 0;
}

.widget-2gis .widget-2gis-copyright {
  height: 50px;
  border-bottom: 1px solid #ececec;

}

.widget-2gis .widget-2gis-logo {
  width: 50px;
  height: 25px;
  display: block;
}

.widget-2gis .widget-2gis-logo img {
  width: 100%;
}

.widget-2gis .widget-2gis-copyright p {
  margin: 0;
  font-size: 14px;
  color: #ACACAC;
}

.widget-2gis .widget-2gis-title-action {
  margin: 5px 0 10px;
}

.widget-2gis .widget-2gis-title-action a {
  text-decoration: none;
  color: #2BA9E0;
}

.widget-2gis .widget-2gis-title-action span {
  border-bottom: 1px solid #2BA9E0;
}

.widget-2gis .widget-2gis-title {
  margin-bottom: 8px;
}

.widget-2gis .line-icon {
  display: inline-block;
  background: url(../images/sprite-2gis.png) no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

.widget-2gis .line-icon-address {
  background-position: 0 0;
  width: 12px;
  height: 12px;
}

.widget-2gis .line-icon-time {
  background-position: -21px -2px;
  width: 12px;
  height: 12px;

}

.widget-2gis .line-icon-phone {
  background-position: -40px -2px;
  width: 12px;
  height: 12px;
}

.widget-2gis .line-icon-site {
  background-position: -60px -2px;
  width: 12px;
  height: 12px;
}

.widget-2gis .widget-2gis-line {
  color: #ACACAC;
}

.widget-2gis .widget-2gis-line-direction {
  margin-top: 8px;
}

.widget-2gis .widget-2gis-change-city {
  color: #2BA9E0;
  text-decoration: none;
  padding-left: 15px;
  background: url(../images/sprite-2gis.png) no-repeat -86px 3px;
}

.widget-2gis .widget-2gis-change-city span {
  border-bottom: 1px solid #2BA9E0;
}

.widget-2gis .widget-2gis-list {
  margin: 0 -10px;
}

.widget-2gis .widget-2gis-list .widget-2gis-list-title {
  color: #666666;
  padding: 10px;
  border-bottom: 1px solid #ececec;
}

.widget-2gis .widget-2gis-list .widget-2gis-list-wrap {
  margin: 0;
  padding: 0;
}

.widget-2gis .widget-2gis-list .widget-2gis-list-item {
  font-family: "PTSansRegular", Arial;
  border-bottom: 1px solid #ececec;
  font-size: 15px;
  padding: 10px;
  position: relative;
  color: #666666;
}

.widget-2gis .widget-2gis-list .widget-2gis-list-item a{
  color: #666666;
  text-decoration: none;
}
.widget-2gis .widget-2gis-list .widget-2gis-list-item a:hover{
  text-decoration: underline;
}

.widget-2gis .widget-2gis-list .widget-2gis-list-item-title {
  color: #2BA9E0;
  text-decoration: underline;
  display: block;
  line-height: 1;
}

.widget-2gis .widget-2gis-list .widget-2gis-list-item-address {
  color: #ACACAC;
}

.widget-2gis .widget-2gis-ico-status {
  width: 44px;
  height: 44px;
  margin: 25px auto;
  background: url(../images/sprite-2gis-status.png) no-repeat center;
}

.widget-2gis .widget-2gis-ico-status-text {
  font-size: 17px;
  color: #666666;
  text-align: center;
}

.widget-2gis-initial-page {
  padding: 5px 10px 0;
  font-size: 16px;
}

.widget-2gis-initial-page .drupal-dgis-connect-button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  padding: 10px 5px;
  width: 200px;
  margin: 10px 0;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
