.widget-mail {
  padding: 5px 10px 0;
  font-size: 16px;
}

.widget-mail #drupal-send-mail {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  padding: 10px 5px;
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}
