body {
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

.panel-amo-widget {
    border-bottom: 1px solid #ececec;
    font-family: "PTSansRegular", Arial;
    font-size: 15px;
    color: #313942;
}

.panel-amo-widget .panel-amo-widget-head {
    position: relative;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.panel-amo-widget-caret {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 13px;
    height: 13px;
    background: url(images/icon-arrow-down.png) no-repeat center;
    background-size: contain;
}

.panel-amo-widget-active .panel-amo-widget-caret {
    background: url(images/icon-arrow-up.png) no-repeat center;
    background-size: contain;
}

.panel-amo-widget .panel-amo-widget-body {
    position: relative;
    border-top: 1px solid #ececec;
    display: none;
}

.panel-amo-widget .panel-amo-widget-close {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: url(../images/icon-close.png) no-repeat center;
}

.panel-amo-widget-active {
    display: block;
}

.panel-amo-widget-active .panel-amo-widget-head {
    color: #2BA9E0;
}

.panel-amo-widget-active .panel-amo-widget-body {
    display: block;
}

.panel-amo-widget .btn-amo-widget {
    padding: 5px;
    margin: 10px 0;
    height: auto;
    background: #fafafa;
    border: 1px solid #eaeaea;
    width: 100%;
    font-family: "PTSansRegular", Arial;
    font-size: 15px;
    color: #313942;
    cursor: pointer;
}

.panel-amo-widget .btn-amo-widget:hover {
    background: #E4E8EB;
}

.amoCRM-widget-page .mCSB_scrollTools {
    width: 12px;
}

.amoCRM-widget-page .mCSB_inside > .mCSB_container {
    margin-right: 5px;
}

.amoCRM-widget-page .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #ffffff;
    filter: none;
    -ms-filter: none;
}

.amoCRM-widget-page .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #ccc;
    background-color: rgba(0, 0, 0, 0.3);
    width: 3px;
    filter: none;
    -ms-filter: none;
}

.amoCRM-widget-page .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #ccc;
    background-color: rgba(0, 0, 0, 0.4);
    width: 3px;
    filter: none;
    -ms-filter: none;
}

.amoCRM-widget-page .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .amoCRM-widget-page .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #ccc;
    background-color: rgba(0, 0, 0, 0.4);
    width: 3px;
    filter: none;
    -ms-filter: none;
}

.block-processing {
    position: relative;
}

.block-processing__wrap {
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.62) url(amocrm_widget_preloader.gif) center center no-repeat;
    background-size: 20px auto;
    position: absolute;
    top: 0;
    left: 0;
}
