/* font-family: "PTSansRegular"; */
@font-face {
  font-family: "PTSansRegular";
  src: url("fonts/PTSans/PTSansRegular/PTSansRegular.eot");
  src: url("fonts/PTSans/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
  url("fonts/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"),
  url("fonts/PTSans/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
  font-family: "PTSansItalic";
  src: url("fonts/PTSans/PTSansItalic/PTSansItalic.eot");
  src: url("fonts/PTSans/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
  url("fonts/PTSans/PTSansItalic/PTSansItalic.woff") format("woff"),
  url("fonts/PTSans/PTSansItalic/PTSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
  font-family: "PTSansBold";
  src: url("fonts/PTSans/PTSansBold/PTSansBold.eot");
  src: url("fonts/PTSans/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
  url("fonts/PTSans/PTSansBold/PTSansBold.woff") format("woff"),
  url("fonts/PTSans/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
